.main {
    width: 800px;
    height: 200px;
    margin: 0 auto;
    min-height: 100vh;    
}
.mainstatic {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;    
}
.text {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;    
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* полупрозрачный фон */
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;        
  }
  
  .modal_content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 400px;
    position: relative;    
  }

  .modal_maintext {
    margin-bottom: 15px;
    font-size: 20px;    
  }

  .modal_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;    
  }

  .modal_form_input {
    border: 1px solid;
    font-size: 14px;
    padding: 5px;
  }

  .model_form_btn_auth {
    text-decoration: none;
    background-color: #1565c0;
    color:#fff;
    width: 120px;
    height: 25px;
    font-size: 16px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  }

  .model_form_btn_reg {
    text-decoration: none;
    background-color: #000000;
    color:#fff;
    width: 180px;
    height: 25px;
    font-size: 16px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
  }
  