.main {
    width: 800px;    
    margin: 0 auto;
    min-height: 100vh;    
}
.mainstatic {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;    
}
.text {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;    
}