@use "../../styles/forms";
@import "../../styles/variables";

.active {
    background-color: #1e50ff;
    border-radius: 50%;
  }
  
  .page_item {
    list-style: none;
    padding: 2px 12px;
    height: $pagination_height;
    width: $pagination_width;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
  }
  
  .info_name {
    width: 50px;
  }
  
  .info_nomer {
    width: 50px;
  }
  
  .pagination_all {
    color: red;
  }

  .specification {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.specifications {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}