.input_forms {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textinput {
  border: 1px #C0C0C0 solid;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  padding: 4px;
}

.textinput:focus {
  border-color: rgb(21, 101, 192);
}

.searchinput {
  border: 1px #C0C0C0 solid;
  border-radius: 4px;
  color: rgba(0, 0, 0, 0.87);
  font-size: 1rem;
  padding: 4px;
  width: 30rem;
  transition: 0.4s;
  outline: none;
  margin-left: 10px;
  
}

.searchinput:focus {
border-color: rgb(21, 101, 192);
}