@use "../../styles/forms";

.invtype {
    display: none;
}

#info-table {
    width: 100%;
    border-collapse: collapse;
}

@media (max-width: 600px) {
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    th, td {
        padding: 8px;
    }
}