// .list {
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     justify-content: center;
//     gap: 20px;
//     padding: 20px;    
// }

// .text {
//     font-family: Montserrat; 
//     font-size: 32px;
//     font-weight: 700; 
//     line-height: 150%; 
//     color: #2F2F2F;
//     position: absolute;
//     left: 11%;        
// }
