.top_menu {
    background: rgba(255,255,255,.5);
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
    padding: 20px;
    margin-bottom: 3rem;
  }

  .top_menu:after {
    content: "";
    display: table;
    clear: both;
  }

  .navbar-_logo {display: inline-block;}
  .menu_main {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
  }

  .menu_main li {display: inline-block;}
  .menu_main a {
    text-decoration: none;
    display: block;
    position: relative;
    line-height: 61px;
    padding-left: 20px;
    font-size: 18px;
    letter-spacing: 2px;
    font-family: 'Arimo', sans-serif;
    font-weight: bold;
    color: #808080;
    transition:.3s linear;
  }

  .menu_main a:before {
    content: "";
    width: 9px;
    height: 9px;
    background: #1976d2;
    position: absolute;
    left: 50%;        
    transform: rotate(45deg) translateX(6.5px);
    opacity: 0;
    transition: .3s linear;
  }

  // .menu_main a:hover {
  //   text-decoration: double;
  //   color: blue;    
  // }

  .menu_main a:hover:before {opacity: 1;}
  @media (max-width: 660px) {
  .menu_main {
    float: none;
    padding-top: 20px;
  }

  .top_menu {
    text-align: center;
    padding: 20px 0 0 0;
  }

  .menu_main a {padding: 0 10px;}
  .menu_main a:before {transform: rotate(45deg) translateX(-6px);}
  }
  
  @media (max-width: 600px) {
  .menu_main li {display: block;}
  }