.top_menu {
    background: rgba(255,255,255,.5);
    box-shadow: 3px 0 7px rgba(0,0,0,.3);
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 200px;
  }

  .text {
    width: 900px;
    line-height: 1.5;
    // margin-left: 10%;    
    margin: 0 auto;
  }

  .login {
    width: 200px;
    line-height: 1.5;    
  }

  .exit_btn {
    text-decoration: none;
    background-color: #1565c0;
    color:#fff;
    width: 60px;
    height: 25px;
    font-size: 16px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2),0px 4px 5px 0px rgba(0,0,0,0.14),0px 1px 10px 0px rgba(0,0,0,0.12);
 }

  .menu_main a:hover:before {opacity: 1;}
  @media (max-width: 660px) {
  .menu_main {
    float: none;
    padding-top: 20px;
  }

  .top_menu {
    text-align: center;
    padding: 20px 0 0 0;
  }

  .menu_main a {padding: 0 10px;}
  .menu_main a:before {transform: rotate(45deg) translateX(-6px);}
  }
  
  @media (max-width: 600px) {
  .menu_main li {display: block;}
  }