@use "../../styles/forms";

.main {
    width: 900px;    
    margin: 0 auto;
    min-height: calc(100vh - 70px);                            
}

.mainstatic {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;    
}

.wrapper {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
  }

  .tabs {
    position: relative;
    margin: 3rem 0;
    background: #1abc9c;
    height: 14.75rem;
  }

  .tabs::before,
  .tabs::after {
    content: "";
    display: table;
  }

  .tabs::after {
    clear: both;
  }

  .tab {
    float: left;
  }

  .tab_switch {
    display: none;
  }

  .tab_label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: #1abc9c;
    border-right: 0.125rem solid #16a085;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
  }

  .tab_label:hover {
    top: -0.25rem;
    transition: top 0.25s;
  }

  .tab_content {
    height: 12rem;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #fff;
    color: #2c3e50;
    border-bottom: 0.25rem solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;
  }

  .tab_switch:checked + .tab_label {
    background: #fff;
    color: #2c3e50;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
  }

  .tab_switch:checked + label + .tab_content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
  }

  .info_message_search {
    color: #FFFAFA;    
    font-size: 18px;
    padding-top: 5px;
    width: 300px;
    height: 30px;
    text-align: center;
    background-color: #1565c0;
    display: none;
    margin: 0 auto;
  }

table {
    border-collapse: separate;
    border-spacing: 10px 20px;
}

  
