.main {
    width: 800px;
    // height: 200px;
    margin: 0 auto;
    min-height: calc(100vh - 70px);             
}

.mainstatic {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;    
}

// .maintext {
//     font-size: 20px;
//     font-weight: 400;
//     margin-bottom: 30px;    
// }

.text {
    padding: 10px;
    font-size: 18px;
    font-weight: 400;
}