@use "../../styles/forms";
@import "../../styles/variables";

// .pagination {
//   list-style: none;
//   height: $pagination_height;
//   width: $pagination_width;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 2px;
//   cursor: pointer;  
// }

.active {
  background-color: #1e50ff;
  border-radius: 50%;
}

.page_item {
  list-style: none;
  padding: 2px 12px;
  height: $pagination_height;
  width: $pagination_width;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

.info_name {
  width: 50px;
}

.info_nomer {
  width: 50px;
}

.pagination_all {
  color: red;
}

#info-table {
  width: 100%;
  border-collapse: collapse;
}

@media (max-width: 600px) {
  table {
      display: block;
      overflow-x: auto;
      white-space: nowrap;
      font-size: small;
  }

  th, td {
      padding: 8px;      
  }
}