.main {
    width: 800px;    
    margin: 0 auto;
    min-height: calc(100vh - 70px);                  
}

.maintext {
    display: flex;
    flex-direction: column;
    gap: 20px;   
}

.mainstatic {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 20px;    
}

.email {
    font-size: 20px;
    font-weight: 600;
}

.text {    
    font-size: 18px;
    font-weight: 400;
}